<h1 style="margin-top: 25px;">Ciudades<small> y Destinos</small></h1>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class=" cool animated fadeIn fast " *ngFor="let ruta of rutas; let i=index ">

        <div class="card-body " style="background-color: aliceblue;">
            <p class="card-text ">{{ruta.ciudadOrigen}}</p>
            <p class="card-text ">{{ruta.cuidadDestino}}</p>
            <button (click)="verRutas(i)" type="button " class="btn btn-primary "> Ver más..</button>
        </div>
        <div class="card-footer ">
            <small class="text-muted "></small>
        </div>
        <div class="d-grip gap-2 col-6 mx-auto ">

        </div>
    </div>
</div>
