<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Quiénes somos</h1>
    <p class="lead">Somos una empresa de transporte con más de 10 años de experiencia en el sector. Ofrecemos servicios de transporte terrestre a nivel nacional e internacional, con una amplia red de rutas que cubren la mayoría de las ciudades del país.</p>
    <p>Nuestro objetivo es ofrecer un servicio de alta calidad a nuestros clientes, con una atención personalizada y unos precios competitivos. Si necesitas un transporte seguro y confiable, no dudes en contactarnos.</p>
<hr>
<div class="text-center">
  <img src="https://firebasestorage.googleapis.com/v0/b/repositorioimg-5353e.appspot.com/o/EXAMEN%2FBus-PNG-HD.png?alt=media&token=b7b01adf-6524-4361-84fa-5c66c856ddf3" alt="img" class="img-fluid" width="480">
</div>


  </div>
</div>

